
       <span class="name">bookmyshow</span>
 <div class="search">
 
      <span class="searchbutton"> <button type="submit"><i class="fa fa-search"></i></button></span>
        <span class="searchbar" ><input type="text" placeholder="Search for Movies, Events, Play and Activity "></span>
      
        <button class="sign-in">Sign in</button>
      <span class="side-nav" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
   
  </div>


<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

                      function closeNav() {
                       document.getElementById("mySidenav").style.width = "0";
}
   
</script>
    

